<center ng-controller="tooth">
    <div>
        <div class="row">
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in adultArrives_left"></canvasodontograma>
            </div>
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in adultArrives_right"></canvasodontograma>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in ninoArrives_left"></canvasodontograma>
            </div>
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in ninoArrives_right"></canvasodontograma>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in ninoDown_left"></canvasodontograma>
            </div>
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in ninoDown_right"></canvasodontograma>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in adult_down_left"></canvasodontograma>
            </div>
            <div class="col-md-6">
                <canvasodontograma info="i" ng-repeat="i in adult_down_right"></canvasodontograma>
            </div>
        </div>

    </div>
    <opcionescanvas></opcionescanvas>
</center>
