<input type="button" value="ver" id="ver"/>
<input type="button" value="add" id="add"/>
<input type="button" value="clean" id="clean"/>

<input type="radio" id="Decidua" name="kind" value="1" checked/>Permanent
<input type="radio" id="Children" name="kind" value="2"/>Decidua
<input type="radio" id="Mixed" name="kind" value="3"/>Mixed
<table border="1" align="center">
    <tr>
        <th>Amalgam</th>
        <th>Caries</th>
        <th>Endodontics</th>
        <th>Absent</th>
        <th>Resin</th>
        <th>Implant</th>
        <th>Sealant</th>
        <th>Crown</th>
        <th>Normal</th>
    </tr>
    <td>
        <center>
            <div class="color" value="1" style="background-color:red;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="2" style="background-color:yellow;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="3" style="background-color:orange;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="4" style="background-color:tomato;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="5" style="background-color:#CC6600;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="6" style="background-color:#CC66CC;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="7" style="background-color:green;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="8" style="background-color:blue;width:20px;height:20px"></div>
        </center>
    </td>
    <td>
        <center>
            <div class="color" value="9" style="background-color:black;width:20px;height:20px"></div>
        </center>
    </td>
    <tr>
</table>

<!--Jquery/Javascrip-->
<script type="text/javascript" src="{{ asset('odontogram/scripts/jquery-odontograma.js') }}"></script>
